body
  padding-top: 70px
  padding-bottom: 30px

.inv-dropdown .dropdown-menu
  position: static
  display: block
  margin-bottom: 20px

.inv-showcase > p > .btn
  margin: 5px 0

.inv-showcase .navbar .container
  width: auto
