<!-- Search field -->
Search: <input ng-model="query">
<br/>
<!-- Make the div and table span automatically across the page -->
<div class="col-sm-auto">
  <table class="table table-striped">
    <!-- Table of products -->
    <thead>
      <tr>
        <th><strong>#</strong></th>
        <th>ID</th>
        <th>Count</th>
        <th>Name</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <!-- repeat for every item returned from the web service -->
      <tr ng-repeat="product in products | filter:query">
        <td>{{product.pk}}</td>
        <td><a href="#/products/{{product.fields.itemId}}">{{product.fields.itemId}}</a></td>
        <td>{{product.fields.count}}</td>
        <td>{{product.fields.name}}</td>
        <td>{{product.fields.short}}</td>
      </tr>
    </tbody>
  </table>
</div>
