<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inventory Management System</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Minified stylesheets -->
  <link rel="stylesheet" href="css/stylesheets.min.css"/>
  <link rel="stylesheet" href="css/app.min.css"/>
  <link rel="stylesheet" href="css/theme.min.css"/>

  <!-- Minified libraries and application javascript -->
  <script src="js/lib.min.js"></script>
  <script src="js/app.min.js"></script>
</head>
<body role="document">
  <!-- Some code from http://richardtier.com/2014/03/15/authenticate-using-django-rest-framework-endpoint-and-angularjs/
       used to discern how to do this authentication integration properly. -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="authController">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Inventory Management</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Products</a></li>
          <!-- Dropdown actions menu, for now only contains an Add New Item element -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <!-- Add a new item, this opens the product add partial view -->
                <li><a href="#/product/add">Add New Item</a></li>
            </ul>
          </li>
        </ul>
          <!-- "Form" for handling the logout, contains a single submit button to commit the logout -->
          <div id="logoutform" ng-show="user" class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default" ng-click="logout()">logout {{user}}</button>
          </div>
          <!-- Form for handling the login, contains a username, password and submit button -->
          <div id="loginform" ng-hide="user">
            <form class="navbar-form navbar-right" role="form" ng-submit="login()">
              <div class="form-group">
                <input ng-model="username" required name="username" type="text" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <input ng-model="password" required name="password" type="password" placeholder="Password" class="form-control">
              </div>
              <!-- Actual button which triggers the sign in action -->
              <button type="submit" class="btn btn-success" value="login">Sign in</button>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div class="container inv-showcase" role="main">

    <!-- This is where the partial view gets inserted -->
    <div ng-view></div>

  <div>Angular inventory example app: v<span app-version></span></div>
  </div>
</body>
</html>
